<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.data.global.title }}</title>

        <script src= "{{ site.data.global.asset-src }}/jquery/jquery-3.5.1.min.js"></script>

        <link rel="stylesheet" href="{{ site.data.global.asset-src }}/katex/katex.min.css">
        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="{{ site.data.global.asset-src }}/katex/katex.min.js"></script>
        <!-- To automatically render math in text elements, include the auto-render extension -->
        <script defer src="{{ site.data.global.asset-src }}/katex/auto-render.min.js" onload="renderMathInElement(document.body)"></script>
    </head>
    <body>
        {{ content }}
        <p><a href="{{ site.data.global.root-src }}/">back to main page</a></p>
    </body>
</html>